@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {/*媛먯꽦姨�*/
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face { /*�뿉�뒪肄붿뼱 �뱶由�*/
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face { /*�굹�닎*/
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
    text-decoration:none;
}


.conatiner{ 
    margin:0 auto;
    width: 100%;
    height: 800px;
    margin-bottom: 70px;
}

.form{
 text-align: center;
 width:800px;
 margin:auto;
 margin-top:50px;
 padding: 30px;
 border: 1px solid #eee;
 border-radius: 30px;
 background-color:rgba(255, 255, 255, 0.9);
 font-family: 'S-CoreDream-3Light';
}

#registerForm, #favoriteForm{
 width: 800px;
 margin: 0 auto;
 margin-top:50px;    
}


#registerForm h1{
 font-size:25px;
 margin-top:60px;
 color:rgb(43, 150, 114);
 margin-bottom: 20px;
 font-family: 'yg-jalnan';
}

fieldset{
 padding:1px;
}

.table{
 margin:auto;
 padding:5%;
 border-collapse:separate;
 border-spacing: 15px;
}

td, tr{
text-align:left;
padding: 5px;
font-weight:border;

}

#idCheck{
 text-align:center;
}


input{
 width: 300px;
 height: 35px;
 padding: 0 10px;
 background-color: #eaf3ef;
 border-radius:6px;
 border:none;
}

input:focus {outline: 2px solid rgb(43, 150, 114);} /* outline �뀒�몢由� �냽�꽦 �닔�젙 */

#registerForm p{
 font-size:12px;
 height:6px;
}

.styleButton{
 color: #fff;
 font-size: 15px;
 margin: 5px;
 background-color: rgb(43, 150, 114);
 border: 1px solid silver;
 padding: 10px 20px;
 font-family:'Pretendard-Regular';
 border-radius:6px;
}

.styleButton:hover{
 background-color:#222;
 color:#fff;
}
span{
    color: red;
    font-size: 7px;
}